{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col m-4">
    <h3>
      {{ page.title }}
      <small class="text-muted"
        >Last updated {{ page.created|date:"SHORT_DATETIME_FORMAT" }} by
        <b>{{ page.publisher }}</b></small
      >
    </h3>
    <hr />
    {{page.picture}}
    <img src="{{ page.picture.url }}" alt="{{page.title}}" />
    <p>{{ page.content|linebreaksbr }}</p>
    <hr />
    <a href="{% url 'item-list-page' %}">Back to List</a>
  </div>
</div>
{% endblock %}
