<div class="card mb-3">
  <h5 class="card-header ">{{ i.title }}</h5>
  <div class="card-body border-dark">
    <p class="card-text text-dark"></p>
    <img
      style="max-width:100%; max-height:100%;"
      src="{{i.picture.url}}"
      alt=""
    />
    <hr />
    <div class="text-right">
      <p>{{i.description}}</p>
      <a href="{% url 'shop-details-page' i.slug %}" title="Read More"
        >Read More</a
      >
    </div>
  </div>
  <div class="card-footer">
    <small class="text-muted"
      >Last updated {{ i.modified|date:"SHORT_DATETIME_FORMAT" }} by
      <b>{{ i.publisher }}</b></small
    >
  </div>
</div>
